{% extends 'template.html.twig' %}

{% block title %}Hello ReviewController!{% endblock %}

{% block body %}
{% for i in reviews %}
<div class="products-content">
<span class="category">T-Shirt</span>
<h3>{{i.comment}}</h3>
<div class="star-rating">
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
</div>
<a href="#" class="add-to-cart">Add to Cart</a>
</div>
<hr>
{% endfor %}
{% endblock %}
